In [10]:
def my_func():
    return 1


my_func()

1

In [11]:
one = my_func()
print(type(one))

<class 'int'>

In [12]:
def multiple_values():
    return 1, 2


multiple_values()
type(multiple_values())

tuple

In [15]:
one, two = multiple_values()
print(one)
print(two)

1
2

In [18]:
my_tuple = (1, 2)
my_other_tuple = 1, 2

print(type(my_tuple))
print(type(my_other_tuple))

<class 'tuple'>
<class 'tuple'>

In [19]:
my_single_tuple = (1,)
type(my_single_tuple)

tuple

In [23]:
my_tuple = (1, 2, 3, 4)
one, two, *the_rest = my_tuple
print(one)
print(two)
print(the_rest)
type(the_rest)

1
2
[3, 4]

list

In [35]:
def returning_a_dictionary():
    return {"one": 1, "two": 2, "three": 3, "four": 4}


my_dict = returning_a_dictionary()

my_dict["four"]

4